@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');
@import "button";

html,
body {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(1, 160, 160);
  height: 100vh;
  overflow-y: hidden;
}

.bg-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(.15vw) brightness(.5);
  position: absolute;
  height: 100%;
  width: 100%;
}

.main-container {
  position: relative;
  height: 100vh;
  width: 100%;
  color: white;
  filter: drop-shadow(.25vw .25vw .1vw black);

  form {
    position: absolute;
    left: 5%;
    top: 5%;
  }

  .title {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 2.5vw;
    font-weight: bold;
  }

  .aqi-temp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    #aqi {
      margin: 0;
      text-align: center;
      font-size: 20vw;
      font-weight: 800;
      line-height: 20vw;
    }
    #temp {
      margin: 0;
      font-size: 3vw;
    }
  }

  .place-name {
    position: absolute;
    left: 5%;
    bottom: 5%;
    text-align: left;
    #city-state {
      margin: 0;
      font-size: 4vw;
    }
    #country {
      margin: 0;
      font-size: 2vw;
    }
  }

}