body {
  background-color: grey;
  margin: 0;
  font-family: rubik;
  color: rgb(0, 0, 0);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

p{
  text-align: center;
  font-size: 32px;
}

select{
  text-align: center;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}
.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}
.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}
.card-image {
  height: 180px;
}